---
title: Elf on the Ice Shelf
date: 2015-05-19 14:08 EST
tags: 
blog: projects
category: complete
layout: projects_layout
---

<img class="img-circle" src= '<%= url_for("/images/elf.jpg") %>' alt="<%= current_page.data.title %>">
<p>An HP Touchpad with Android firmware sits upon a shelf!  It runs the IP-Webcam Android app and publicly hosts the most recently captured image.  Enjoy watching the inner workings of our lab! </p>

READMORE

<div class="text-info">
  &nbsp;<em>You may click on the video feed to zoom in and get a closer view!</em>
</div>

<div class="well" id="elfotis_div">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="http://gpwclark.net:8283/jsfs.html"></iframe>
  </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>