---
title: Icegammon
date: 2015-05-19 14:08 EST
tags: 
blog: projects
category: complete
layout: projects_layout
---

<img class="img-circle" src='<%= url_for("/images/icegammon.jpg") %>' alt="<%= current_page.data.title %>">
<p>A command-line version of backgammon.  Play as a ferocious team of Ws or a hardy team of Bs.  Navigate 24 treacherous pips as you hit enemy blots and form points with your stones.  War is hell, boys.</p>
