---
title: Snowduino
date: 2015-05-19 14:08 EST
tags: 
blog: projects
category: complete
layout: projects_layout
---

 <div class="well">
<img class="img-circle" src='<%=url_for("/images/snowduino.jpg")%>' alt="<%= current_page.data.title %>">
<p>An arduino uno controls two 8x8 LED matrices.  A banner of scrolling text is displayed on the matrices, comprised of 5x7 characters.  An ethernet shield on the arduino hosts a web server which interprets 
GET requests to control what is displayed on the banner.</p>
</div>
READMORE

<br>
<div class="well">
  <div class="text-info col-md-6">
    <b>Try interacting with our setup!</b> <br>
    &nbsp; Just type a message into the box and hit <kbd>&crarr; Enter</kbd>.<br>
    &nbsp; The message should then be visible scrolling across the LEDs! <br>
    &nbsp; <em> If you can't see the real Snowduino in the video below, then check out the virtual snowduino. </em>
  </div>

  <div class="col-md-6">

    <button id="show_button" class="btn btn-info"><span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span> Show Virtual Snowduino</button>

   <div id="virtual_snowduino_container" style="display:none;">
     <span>
        <button id="hide_button" class="btn btn-info"><span class="glyphicon glyphicon-resize-small" aria-hidden="true"></span> Hide Virtual Snowduino</button>

      <button id="inspect_button" class="btn btn-info" type="button"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh</button>
    </span>
      <div>

        <div id="virtual_snowduino_div" style="background-image: url(<%=url_for("/images/snowduino_bg.jpg")%>);" > 

          <div id="marquee_div">
            <marquee id="virtual_snowduino_marquee" behavior="scroll" direction="left" scrollamount="9"></marquee>
          </div>

          

        </div>
      </div>
  </div>

  </div>


  <div class="row">
  </div>

  <div>
    <div id="sendAlert" class="alert alert-success fade"> Message Sent! </div>
  </div>


  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <span class="input-group-btn">
          <button id="snowduino_button" class="btn btn-info" type="button"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Send</button>
        </span>
        <input id="snowduino_message" type="text" class="form-control" placeholder="Hello Snowduino...">
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div>

  <br>
</div>

 
<div id="virtual_or_elfotis_div">


  <div id="elfotis_div">
  <%= partial "elfotis" %>
  </div>

</div>


<script>

  // KeepVirtualSnowduinoUpToDate();
  $(document).ready(function(){

    InspectSnowduino();
    EnableSubmitButton();
    EnableInspectButton();
    RedefineEnterKeyBehavior();
    EnableToggleButton();

  });

    function EnableToggleButton(){
      $("#hide_button").click(function(){
       ToggleVirtualSnowduino();
      });
      $("#show_button").click(function(){
       ToggleVirtualSnowduino();
      });
    }

    function ToggleVirtualSnowduino(){
      $("#show_button").toggle();
      $("#virtual_snowduino_container").toggle();
      // $("#elfotis_div").toggle();
    }

    function EnableSubmitButton(){
      $("#snowduino_button").click(function(){
        SendAndClearSnowduinoForm();
      });
    }

    function SendBannerMessageToSnowduino(message){
      $.ajax({
          url: "http://www.gpwclark.net:8282/?banner="+message
        });
    }

    function KeepVirtualSnowduinoUpToDate(){
       InspectSnowduino();
       setTimeout(function(){
         KeepVirtualSnowduinoUpToDate();
       },
       3000);
    }

    function InspectSnowduino(){
      $.ajax({
          url: "http://www.gpwclark.net:8282/?inspect=yes",
          success: function(response){
            SetVirtualSnowduino(response);
          }
        });
    }

    function EnableInspectButton(){
        $("#inspect_button").click(function(){
          InspectSnowduino();
        });
    }
    function SetVirtualSnowduino(marquee){
      $("#virtual_snowduino_marquee").html(marquee);

    }
    function SendAndClearSnowduinoForm(){
      SendSnowduinoForm();
      ClearSnowduinoForm();
    }

      function SendSnowduinoForm(){
        var message = $("#snowduino_message").val();
        SendBannerMessageToSnowduino(message);
        showSendAlert();
        SetVirtualSnowduino(message);
      }
      
      function ClearSnowduinoForm(){
        $("#snowduino_message").val("");
      }

    function showSendAlert(){
      var alert_duration_in_ms = 4000;
      $("#sendAlert").addClass("in");
      setTimeout(function(){
        $("#sendAlert").removeClass("in")
      },alert_duration_in_ms);
    }

  // Prevent default "Enter" key use on the form

  function RedefineEnterKeyBehavior(){
    $("input").keydown(function(event){
      if(event.keyCode == 13) {
        event.preventDefault();
        SendAndClearSnowduinoForm();
        return false;
      }
    });
  }

</script>