---
title: Snowduino
date: 2015-05-19 14:08 EST
tags: 
blog: projects
category: complete
layout: projects_layout
---

 
<img class="img-circle" src='<%=url_for("/images/snowduino.jpg")%>' alt="<%= current_page.data.title %>">
<p>An arduino uno controls two 8x8 LED matrices.  A banner of scrolling text is displayed on the matrices, comprised of 5x7 characters.  An ethernet shield on the arduino hosts a web server which interprets 
GET requests to control what is displayed on the banner.</p>
READMORE


<form id="snowduino_form" action="">
  Message: <input id="snowduino_message" type="text" name="msg"><br>
  <!-- speed: <input type="text" name="speed"><br> -->
</form>
<button> Submit </button>

<div class="well" id="elfotis_div">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="http://gpwclark.net:8283/jsfs.html"></iframe>
  </div>
</div>


<script>
  $(document).ready(function(){
    $("button").click(function(){
      var query_string = $("#snowduino_message").val();
      $.ajax({
        url: "http://www.gpwclark.net:8282/?banner="+query_string
      });

    });
  });
</script>