---
title: Snowduino
date: 2015-05-19 14:08 EST
tags: 
blog: projects
category: complete
layout: projects_layout
---

 <div class="well">
<img class="img-circle" src='<%=url_for("/images/snowduino.jpg")%>' alt="<%= current_page.data.title %>">
<p>An arduino uno controls two 8x8 LED matrices.  A banner of scrolling text is displayed on the matrices, comprised of 5x7 characters.  An ethernet shield on the arduino hosts a web server which interprets 
GET requests to control what is displayed on the banner.</p>
</div>
READMORE

<br>
<div class="well">
  <div class="text-info">
    <b>Try interacting with our setup!</b> <br>
    &nbsp; Just type a message into the box and hit <kbd>&crarr;Enter</kbd>.<br>
    &nbsp; The message should then be visible scrolling across the LEDs! <br>
    &nbsp; You can watch it in our lab via webcam, or a virtual Snowduino.
  </div>


  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <span class="input-group-btn">
          <button id="snowduino_button" class="btn btn-info" type="button"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Send</button>
        </span>
        <input id="snowduino_message" type="text" class="form-control" placeholder="Hello Snowduino...">
      </div>
    </div>
    <div class="col-lg-6">
      <div id="sendAlert" class="alert alert-success fade"> Message Sent! </div>
    </div>
  </div>
</div>

<div id="snowduino_controls">
 
 <span>

   <button id="show_button" class="btn btn-info"><span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span> Show Virtual Snowduino</button>
   
  <button id="hide_button" class="btn btn-info" style="display:none;"><span class="glyphicon glyphicon-resize-small" aria-hidden="true"></span> Hide Virtual Snowduino</button>

  <button id="inspect_button" class="btn btn-info" type="button" style="display:none;"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh</button>

  </span>


</div>

<br>

<div id="virtual_or_elfotis_div" class="well">

   <div id="error_messages">
     <div id="elfotis_error" class="alert alert-danger" style="display:none;"> <em> The Elf On the Ice Shelf is sleeping, so you'll have to settle for the virtual snowduino </em> </div>

     <div id="snowduino_error" class="alert alert-danger" style="display:none;"> <em> Snowduino appears to be down right now, check back later! </em> </div>
  </div>

  <div id="loading_messages">
    <div id="elfotis_loading" class="alert alert-info">
      <em> Trying to connect to the Elf on the Ice Shelf ... </em>
    </div>
    <div id="snowduino_loading" class="alert alert-info">
      <em> Trying to connect to Snowduino ... </em>
    </div>
  </div>

  <div id="virtual_snowduino_div" style="display:none;">
    <%= partial "virtualsnowduino" %>
  </div>

  <div id="elfotis_div" style="display:none;">
    <%= partial "elfotis" %>
  </div>

</div>


<script>

  // KeepVirtualSnowduinoUpToDate();
  $(document).ready(function(){

    InspectSnowduino();
    EnableSubmitButton();
    EnableInspectButton();
    RedefineEnterKeyBehavior();
    EnableShowVirtualSnowduinoButton();
    EnableHideVirtualSnowduinoButton();
    TestSnowduino(5);
    TestElfotis();
    OnlyShowWorkingService();

  });

    function OnlyShowWorkingService(){
      $.ajax({
        url: "http://www.gpwclark.net:8283/jsfs.html",
        success: function(response){
          ShowElfotis();
        },
        error: function(xhr, status, error) {
          ShowVirtualSnowduinoIfItIsWorking();
        }
      });
    }
    function ShowVirtualSnowduinoIfItIsWorking(){
      $.ajax({
        url: "http://www.gpwclark.net:8282/?inspect=yes",
        success: function(response){
          ShowVirtualSnowduino();
        },
        error: function(xhr, status, error){

        }
      });
    }

    function TestSnowduino(num_attempts_remaining){
       $.ajax({
        url: "http://www.gpwclark.net:8282/?inspect=yes",
        success: function(response){
          HideSnowduinoLoadingText();
        },
        error: function(xhr, status, error){
          --num_attempts_remaining;
          alert(num_attempts_remaining);

          if(num_attempts_remaining == 0){
            ShowSnowduinoErrorText();
            HideSnowduinoLoadingText();
          }
          else{
            TestSnowduino(num_attempts_remaining);
          }

        }
      });
    }


    function TestElfotis(){
       $.ajax({
        url: "http://www.gpwclark.net:8283/jsfs.html",
        success: function(response){
          HideElfotisLoadingText();
        },
        error: function(xhr, status, error){
          ShowElfotisErrorText();
          HideElfotisLoadingText();
        }
      });
    }

    function HideSnowduinoLoadingText(){
      $("#snowduino_loading").hide();
    }

    function HideElfotisLoadingText(){
      $("#elfotis_loading").hide();
    }

    function ShowSnowduinoErrorText(){
      $("#snowduino_error").show();
    }

    function ShowElfotisErrorText(){
      $("#elfotis_error").show();
    }

    function ShowVirtualSnowduino(){
      $("#show_button").hide();
      $("#virtual_snowduino_div").show();
    }

    function HideVirtualSnowduino(){
      $("#show_button").show();
      $("#virtual_snowduino_div").hide();
    }

    function ShowElfotis(){
      $("#elfotis_div").show();
    }
    function HideElfotis(){
      $("#elfotis_div").hide();
    }

    function EnableHideVirtualSnowduinoButton(){
     $("#hide_button").click(function(){
       HideVirtualSnowduino();
       HideVirtualSnowduinoControls();
       ShowElfotis();
      });
    }

    function EnableShowVirtualSnowduinoButton(){
      $("#show_button").click(function(){
        ShowVirtualSnowduino();
        ShowVirtualSnowduinoControls();
        HideElfotis();
      });
    }

    function HideVirtualSnowduinoControls(){
      $("#show_button").show();
      $("#hide_button").hide();
      $("#inspect_button").hide();
    }

    function ShowVirtualSnowduinoControls(){
      $("#show_button").hide();
      $("#hide_button").show();
      $("#inspect_button").show();
    }

    function EnableSubmitButton(){
      $("#snowduino_button").click(function(){
        SendAndClearSnowduinoForm();
      });
    }

    function SendBannerMessageToSnowduino(message){
      $.ajax({
          url: "http://www.gpwclark.net:8282/?banner="+message
        });
    }

    function KeepVirtualSnowduinoUpToDate(){
       InspectSnowduino();
       setTimeout(function(){
         KeepVirtualSnowduinoUpToDate();
       },
       3000);
    }

    function InspectSnowduino(){
      $.ajax({
          url: "http://www.gpwclark.net:8282/?inspect=yes",
          success: function(response){
            SetVirtualSnowduino(response);
          },
          error: function(xhr, status, error){
            // ShowSnowduinoErrorText();
          }
        });
    }

    function EnableInspectButton(){
        $("#inspect_button").click(function(){
          InspectSnowduino();
        });
    }
    function SetVirtualSnowduino(marquee){
      $("#virtual_snowduino_marquee").html(marquee);

    }
    function SendAndClearSnowduinoForm(){
      SendSnowduinoForm();
      ClearSnowduinoForm();
      InspectSnowduino();
    }

      function SendSnowduinoForm(){
        var message = $("#snowduino_message").val();
        SendBannerMessageToSnowduino(message);
        showSendAlert();
      }
      
      function ClearSnowduinoForm(){
        $("#snowduino_message").val("");
      }

    function showSendAlert(){
      var alert_duration_in_ms = 4000;
      $("#sendAlert").addClass("in");
      setTimeout(function(){
        $("#sendAlert").removeClass("in")
      },alert_duration_in_ms);
    }

  // Prevent default "Enter" key use on the form

  function RedefineEnterKeyBehavior(){
    $("input").keydown(function(event){
      if(event.keyCode == 13) {
        event.preventDefault();
        SendAndClearSnowduinoForm();
        return false;
      }
    });
  }

</script>