<div class="well" id="elfotis_div">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="http://gpwclark.net:8283/jsfs.html"></iframe>
  </div>
  <div class="text-info">
  &nbsp;<em>You may click on the video feed to zoom in and get a closer view!</em>
  </div>
</div>