<div>
  <div>
    <div id="virtual_snowduino_div" style="background-image: url(<%=url_for("/images/snowduino_bg.jpg")%>);" > 
      <div id="marquee_div">
        <marquee id="virtual_snowduino_marquee" behavior="scroll" direction="left" scrollamount="9"></marquee>
      </div>
    </div>
  </div>
  <div class="text-info">
    <em> </em>
  </div>
</div>