---
title: Uant About University
active_navbar_tab: navbar-aboutuniversity
---

<h1> About the University of Antarctica </h1>

<h3>
  The University of Antarctica is located On the Zubchatyy Ice Shelf in Enderby Land, Antarctica.  Conveniently located between Mount Dyke and Dingle Dome, We offer educational and recreational services to students of all ages across Antarctica.  Online education opportunities are also available for those who want a unique perspective on the world without having the fortune to live in the deep south.  We showcase our students' work and blog about events at the university, so stay tuned.
</h3>

<iframe frameborder="0" scrolling="no" src="//wma.wmflabs.org/iframe.html?-67.216667_49.083333_700_500_en_8_en&amp;globe=Earth&amp;lang=en&amp;page=Zubchatyy_Ice_Shelf&amp;client=GeoHack" style="width: 700px; height: 500px;"></iframe>

  <br>
