---
title: About Us
layout: sidebar_layout
active_sidebar_tab: sidebar_aboutus
---

<h1> About Us </h1>
<br>
<p>
Check out our personal pages!
<ul>
<li><a href="http://slove13.github.io">Steven Love</a></li>
<li><a href="http://gpwclark.github.io">Price Clark</a></li>
</ul>

</p>
