<script>
  $(document).ready(function(){
    $("#navbar-aboutuniversity").addClass("active");
  });
</script>

<h1> ABOUT UNIVERSITY </h1>


<div class="col-xs-12 col-sm-9">
  <!--  Carousel - consult the Twitter Bootstrap docs at 
        http://getbootstrap.com/javascript/#carousel-->
  <div id="carouselContainer" class="well">
  <div id="myCarousel" class="carousel slide"><!-- class of slide 
    for animation -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
      <!-- class of active since it is the first item -->
        <%= image_tag("steven.jpg") %>
        <div class="carousel-caption">
          <p>Can you believe this guy?</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag("steven1.jpg") %>
        <div class="carousel-caption">
          <p>Just look at him</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag("steven2.jpg") %>
        <div class="carousel-caption">
          <p>Does he ever even get his haircut?!?!</p>
        </div>
      </div>
    </div><!-- /.carousel-inner -->
    <!--  Next and Previous controls below
          href values must reference the id for this carousel -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div><!-- /.carousel -->
  </div><!-- /#carouselContainer -->
</div>
  <br>


</div><!-- .welcome -->