---
title: Uant Athletics
active_navbar_tab: navbar-athletics
---

<h1><tt> Athletics </tt></h1>


<div class="col-xs-12 col-sm-9">
  <p>
    We had to disband all of our athletics because we were unable to afford the traveling costs necessary to compete at the Internation level... which was our only option for obvious reasons.
  </p>
</div>
