---
title: Uant Projects
layout: sidebar_layout
---



<div class="row">
  <div class="col-sm-4">
    <img class="img-circle" src="images/snowduino.jpg" alt="Snowduino">
    <h2>Snowduino</h2>
    <p>An arduino uno controls two 8x8 LED matrices.  A banner of scrolling text is displayed on the matrices, comprised of 5x7 characters.  An ethernet shield on the arduino hosts a web server which interprets GET requests to control what is displayed on the banner.</p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div>
  
  <div class="col-sm-4">
    <img class="img-circle" src="images/elf.jpg" alt="Elf on the Ice Shelf">
    <h2>Elf On The Ice Shelf</h2>
    <p>An HP Touchpad with Android firmware sits upon a shelf!  It runs the IP-Webcam Android app and publicly hosts the most recently captured image.  Enjoy watching the inner workings of our lab! </p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div>
  
  <div class="col-sm-4"> 
    <img class="img-circle" src="images/icegammon.jpg" alt="Icegammon">
    <h2>Icegammon</h2>
    <p>A command-line version of backgammon.  Play as a ferocious team of Ws or a hardy team of Bs.  Navigate 24 treacherous pips as you hit enemy blots and form points with your stones.  War is hell, boys. </p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div>
</div>