---
title: Uant Blog
layout: sidebar_layout
blog: projects
date: 2015-05-19 14:08 EST
active_sidebar_tab: sidebar_projects
---
  <section class="first last block-type-text block-title-divider block">
    <pre style="font-size: 30px; font-size: .8vw;">     
              .-.      ---U-N-I-V-E-R-S-I-T-Y---O-F---A-N-T-A-R-C-T-I-C-A---    .-.
             /   \           .-.     ---P-R-O-J-E-C-T-S---       .-.           /   \
            /     \         /   \       .-.     _     .-.       /   \         /     \
          -/-------\-------/-----\-----/---\---/-\---/---\-----/-----\-------/-------\- 
                    \     /       \   /     `-'   `-'     \   /       \     /
                     \   /         `-'                     `-'         \   /
                      `-'                                               `-' 
    </pre>
  </section>
  
  <% blog.articles[0...5].each do |article| %>
   <div class="col-sm-4">
    <article>

      <h2>
        <%= link_to article.title, article.url %>
      </h2>

      <!-- <p> <%= article.data.category %> </p> -->


      <%= article.summary %>

      <a href="<%= article.url %>">Read more</a>
    </article>
  </div>
  <% end %>

