body {
    background-image: url("http://vignette4.wikia.nocookie.net/new-cryptozoology/images/7/7e/Antarctica.jpg");
    background-color: #cccccc;
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#header_image {
  border-right: 1px solid black;
}
#header_title {
  color: #00A3E8;
}
#header_subtitle {
  color: grey;
}
