<% wrap_layout :layout do %>

  <link href="css/offcanvas.css" rel="stylesheet" type="text/css" />

  <script>
    $(document).ready(function () {
      $('[data-toggle="offcanvas"]').click(function () {
        $('.row-offcanvas').toggleClass('active')
      });
    });
  </script>

  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
      <div class="list-group">
        <%= link_to 'Our Projects', url_for('/projects.html'), {:class=>"list-group-item"} %>
        <%= link_to 'GitHub', 'https://github.com/university-of-antarctica', {:class=>"list-group-item"} %>
        <%= link_to 'About Us',    url_for('/aboutus.html'), {:class=>"list-group-item"} %>
      </div>
    </div>


    <%= yield %>


  </div>
<% end %>